[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
SQLAlchemy = "^1.4"
alembic = "^1.9"
requests = "*"
python-dotenv = "*"

[requires]
python_version = "3.8"
